@import "../src/styles/font.css";
@import "tailwindcss";
@theme {
  --color-blue-400: #2646bc;
  --color-blue-200: #4d6ce5;
  --color-blue-100: #5a79f1;
  --color-blue-700: #0b0f25;
  --color-blue-800: #070911;
  --color-blue-900: #070911;
  --color-black-100: #121212;
  --color-black-200: #484848;
  --color-black-900: #000000;
  --color-gray-100: #3a3a3a;

  --font-sans: "Satoshi", "ui-sans-serif", "system-ui";
  --font-heading: "Satoshi", "ui-sans-serif", "system-ui";
}

html {
  scroll-behavior: smooth;
}
